/*Google Fonts Import: Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background: linear-gradient(#f4f0ff, #dacdff);*/
  background: linear-gradient(135deg, #434343 0%, #000000 100%);
}

.chatbot-popup {
  width: 420px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-popup .chat-header{
display: flex;
padding: 15px 22px;
align-items: center;
justify-content: space-between;
background: #2d3748;
}

.chat-header .header-info{
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info img{
  width: 35px;
  height: 35px;
  fill: #6d4fc2;
  flex-shrink: 0;
  background: #fff;
  padding: px;
  border-radius: 50%;
}

.header-info .logo-text{
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color:#fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;
}

.chat-header button:hover{
  background: #593bab;

}